ALTER TABLE submissions.submissions ADD COLUMN forensic_status VARCHAR(50) DEFAULT 'PENDING'; ALTER TABLE submissions.submissions ADD COLUMN risk_score NUMERIC(5,2) DEFAULT 0.0; ALTER TABLE submissions.submissions ADD COLUMN risk_flags TEXT[] DEFAULT '{}';
