body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Custom Selection Color */
::selection {
  background: rgba(132, 94, 247, 0.3);
  color: inherit;
}
